<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>input</title>
    <link rel="stylesheet" type="text/css" href="commonCss/style.css">
    <style>
      *[mgb]{
        margin-bottom: 15px;
        margin-top:30px;
      }
    </style>
  </head>
  <body>
    <div id='app'>

      <div class="flex-col flex-main-center flex-cross-center">
        <div style="width:100%;">
        	<mz-input placeholder="提示内容" 
          class="margin-small"
          tip-right="右侧提示"
          label="测试"
          type="tel" 
          v-model="phone" 
          pattern="/^1[3456789]\d{9}$/" 
          error-msg="手机号输入出错" 
          trace="input" 
          need-length="1" 
          max-length="11" 
          ref="inputPhone">
          </mz-input>
          <mz-input placeholder="提示内容" 
          label="测试"
          type="tel" 
          v-model="phone" 
          pattern="/^1[3456789]\d{9}$/" 
          error-msg="手机号输入出错" 
          trace="input" 
          need-length="1" 
          max-length="11" 
          ref="inputPhone">
          </mz-input>
          <mz-input placeholder="提示内容" 
          class="margin-small"
          tip-right="右侧提示"
          type="tel" 
          v-model="phone" 
          pattern="/^1[3456789]\d{9}$/" 
          error-msg="手机号输入出错" 
          trace="input" 
          need-length="1" 
          max-length="11" 
          ref="inputPhone">
          </mz-input>
          <mz-input placeholder="提示内容" 
          type="tel" 
          v-model="phone" 
          pattern="/^1[3456789]\d{9}$/" 
          error-msg="手机号输入出错" 
          trace="input" 
          need-length="1" 
          max-length="11" 
          ref="inputPhone">
          <p>获取验证码</p>
          </mz-input>
        </div>
      </div>
    </div>

<script src="plugins/_vue.js"></script>
<script>
  window.onload=function(){
    var app = new Vue({
      el: '#app',
      data:{
        phone:"",
      },
      methods:{
      },
      components:{
          mzInput: window.mzui.input.default,
      },
    });
  };
      
</script>
  </body>
</html>