<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>input</title>
    <link rel="stylesheet" type="text/css" href="commonCss/style.css">
    <style>
      *[mgb]{
        margin-bottom: 15px;
        margin-top:30px;
      }
      .space{
        margin-bottom:20px; 
        background:white;
      }
      cell{
        padding:2px 16px;
        background:#eee;
        color:black;
        font-weight: bold;
        font-size:14px;
        display: block;
      }
    </style>
  </head>
  <body>
    <div id='app'>

      <div class="flex-col flex-main-center flex-cross-center">
        <div style="width:100%;">

          <cell>这是常规输入框</cell>
          <mz-input placeholder="请输入手机号" 
          label="手机号"
          type="tel" 
          v-model="phone" 
          pattern="/^1[3456789]\d{9}$/" 
          error-msg="手机号输入出错" 
          trace="input" 
          need-length="11" 
          max-length="11" 
          ref="inputPhone"
          >
          </mz-input>

          <cell>这是常规输入框+右下角带提示文字</cell>
        	<mz-input placeholder="请输入纯数字" 
          mz-on-click="input-click"
          class="margin-small"
          tip-right="右侧友情提示"
          v-model="phone2" 
          pattern="/^\d+$/" 
          error-msg="必须输入纯数字" 
          trace="input" 
          need-length="1"
          label="标题">
          </mz-input>
          

          
          <cell>模拟选择框</cell>
          <mz-input placeholder="点击选择" 
          label="模拟选择框"
          type="tel" 
          v-model="phone3" 
          @onclick="btnCliclSelect"
          :no-bottom-line="true" 
          :select-btn="true"
          :disabled="true" 
          style="border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding-top:10px;padding-bottom:10px;">
          </mz-input>

          
         
          <cell>不带标题的输入框</cell>
          <mz-input placeholder="提示内容" 
          class="margin-small"
          type="tel" 
          v-model="phone4" 
          ref="inputPhone">
          </mz-input>
          
          <cell>获取验证码</cell>
          <mz-input placeholder="提示内容" 
          type="tel" 
          v-model="phone5" 
          need-length="1" 
          max-length="11" 
          ref="inputPhone">
            <p>获取验证码</p>
          </mz-input>


        </div>
      </div>
    </div>

<script src="plugins/_vue.js"></script>
<script>
      let defaultFontSize = Math.floor(window.screen.width/26.785);
  defaultFontSize = defaultFontSize > 16 ? 16 : defaultFontSize;
  document.getElementsByTagName('html')[0].style.fontSize=defaultFontSize+'px';
  document.getElementsByTagName('body')[0].style.fontSize=defaultFontSize+'px';
  window.onload=function(){
    var app = new Vue({
      el: '#app',
      data:{
        phone:"",
        phone2:"",
        phone3:"",
        phone4:"",
        phone5:""
      },
      methods:{
        btnClick:function(e){
        },
        btnCliclSelect:function(e){
          console.log("点击了选择框");
        }

      },
      components:{
          mzInput: window.mzui.input.default,
      },
    });
  };
      
</script>
  </body>
</html>